html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  min-width: 320px;
  margin: 0 auto; 
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-weight: 500;
}

a{
  text-decoration: none;
  color: inherit;
}
//font-family: 'Lato', sans-serif;


ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1240px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
.btn{
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  background-color: $btn-color;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.05);
  transition: all .3s;
  &:hover{
    background-color: #CC9654;
  }
}
.title{
  font-weight: 600;
  font-size: 46px;
  line-height: 125%;
  text-align: center;
  text-transform: uppercase;
  color: $main-color;
}
.h5-style{
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
}
.h5-medium{
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}
.title-h3{
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
}
.text-18{
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.text-18-semibold{
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
}
.text-16{
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
}
.form{
  display: flex;
  flex-direction: column;
  &-change{
    display: block;
    &.active{
      animation-name: formIn;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
    &.resend{
      animation-name: formOut;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-delay: 0.3s;
      animation-timing-function: ease-in;
      opacity: 0;
      position: absolute;
    }
  }
  &-section{
    background-color: $main-bg-color;
    display: flex;
    justify-content: flex-end;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  &-content{
    max-width: 600px;
    width: 100%;
    padding: 100px 0 100px 20px;
    text-align: left;
  }
  &-title{
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  &-img{
    width: 100%;
    height: 100%;
  }
  &-img-box{
    flex-basis: 50%;
    position: relative;
    &::after{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      content: '';
      background-color: rgba(#3D4A39, 0.1);
      z-index: 2;
    }
  }
  &-text{
    margin-bottom: 40px;
    color: rgba(#fff, 0.8);
    max-width: 306px;
  }
  &-input{
    margin-bottom: 25px;
    max-width: 300px;
    width: 100%;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid rgba(#FFFFFF, 0.2);
    background-color: transparent;
    outline: none;
    padding-right: 5px;
    padding-bottom: 10px;
    color: #FFF;
    transition: all .3s;
    &::placeholder{
      font-weight: 500;
      font-size: 16px;
      line-height: 145%;
      color: rgba(#FFF, 0.5);
    }
    &.invalid{
      border-bottom-color: $input-invalid-color;
      &::placeholder{
        color: $input-invalid-color;
      }
      &:hover{
        border-bottom-color: $input-invalid-color;
        &::placeholder{
          color: $input-invalid-color;
        }
      }
    }
    &:hover{
      border-bottom: 2px solid rgba(#FFFFFF, 0.4);
      &::placeholder{
        color: rgba(#FFF, 0.7);
      }
    }
    &:focus{
      border-bottom: 2px solid rgba(#FFFFFF, 0.7);
      &::placeholder{
        color: rgba(#FFF, 0.8);
      }
    }
  }
  &-file-label{
    margin-bottom: 40px;
    padding-left: 28px;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    opacity: 0.5;
    transition: opacity 0.3s;
    &.invalid{
      opacity: 1;
      transition: opacity 0s;
      color: $input-invalid-color;
    }
    &::before{
      position: absolute;
      content: '';
      width: 18px;
      height: 18px;
      background-image: url('../images/attach-icon.svg');
      top: 0;
      left: 0;
    }
    &:hover{
      opacity: 0.8;
    }
  }
  &-btn{
    align-self: flex-start;
    padding: 22px 105px;
    margin-bottom: 25px;
  }
  &-checkbox-label{
    font-size: 12px;
    line-height: 130%;
    color: #FFFFFF;
    padding-left: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    &.invalid{
      color: $input-invalid-color;
    }
  }
  &-checkbox-span{
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
    position: absolute;
    margin-left: -30px;
    display: inline-block;
  }
  &-checkbox{
    &:checked + .form-checkbox-span::before{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 7px;
      height: 7px;
      background-color: #FFF;
      transform: translate(-50%, -50%);
    }
    &:focus + .form-checkbox-span{
      box-shadow: 0 0 0 2px $main-color;
    }
  }
}
.form-style{
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}
.number{
  position: relative;
  &::before{
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
  }
}
.social{
  &-item{
    display: flex;
    align-items: center;
    &:not(:last-child){
      margin-right: 10px;
    }
  }
  &-img{
    width: 24px;
    height: 24px;
  }
  &-link{
    display: inline-block;
    width: 24px;
    height: 24px;
    &:hover path{
      fill: $main-color;
    }
  }
  &-image__path{
    transition: all .3s;
    fill: $btn-color;
  }
}

.phone{
  display: block;
  padding-left: 29px;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  &::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-image: url('../images/phone-icon.svg');
  }
  &::after{
    content: '';
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 29px;
    width: 0;
    background-color: $main-color;
    transition: all .5s;
  }
  &:hover{
    &::after{
      width: calc(100% - 29px);
    }
  }
}
.form-thanked{
  flex-direction: column;
  min-height: 67%;
  transform: translateX(-500%);
  position: absolute;
  &.active{
    animation-name: formThankedIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
  }
  &.resend{
    animation-name: formThankedOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
  &__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  &__text{
    color: $opacity-white;
    margin-bottom: 133px;
  }
  &__btn--resend{
    padding: 22px 65px;
    margin-right: auto;
  }
}

@keyframes formIn {
  0%{
    opacity: 1;
    position: static;
  }
  99%{
    opacity: 0;
  }
  100%{
    opacity: 0;
    position: absolute;
  }
}
@keyframes formOut {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


@keyframes formThankedIn {
  0%{
    transform: translateX(-500%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes formThankedOut {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-500%);
  }
}
.animate-title.animate,{
  overflow-y: hidden;
  span{
    transform: translateY(200%);
    transition: all 0.5s;
    display: inline-block;
  }
  &.animation-active{
    span{
      transform: translateY(0);
    }
  }
}
.about__video.animate{
  transition: width 0.5s;
  width: 0;
  &.animation-active{
    width: 160px;
  }
}