@import "vars";
@import "libs";
@import "fonts";
@import "normalize";
@import "global";



.header{
  padding: 20px 0;
  color: $main-color;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social-list{
    margin-right: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-list{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    align-items: center;
  }
  &__menu-list__item{
    &:not(:last-child){
      margin-right: 40px;
    }
  }
  &__menu-list__link{
    transition: all .3s;
    &:hover{
      color: $btn-color;
    }
  }
  &__logo{
    width: 122px;
    height: 53px;
  }
  &__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.top-slider{
  overflow-x: hidden;
  position: relative;
  &__content{
    display: flex;
    align-items: flex-start;
    position: absolute;
  }
  &__content-inner{
    overflow-x: hidden;
    position: relative;
    min-height: 687px;
  }
  &__wrapper{
    position: absolute;
    min-height: 687px;
  }
  &__item{
    padding-top: 120px;
    min-height: 687px;
    width: 100vw;
    flex-shrink: 0;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0;
  }
  &__title{
    font-family: 'Lato', sans-serif;
    max-width: 860px;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 50px;
    max-width: 639px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    line-height: 150%;
    &--3{
      max-width: 537px;
    }
    &--2{
      max-width: 476px;
    }
  }
  &__inner{
    text-align: center;
  }
  &__btn{
    padding-right: 52px;
    padding-left: 52px;
  }
  &__btn-box{
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 57px;
    &::after,
    &::before{
      content: '';
      max-width: 1200px;
      left: 20px;
      height: 1px;
      position: absolute;
      top: 0;
    }
    &::before{
      width: 0;
      z-index: 5;
      background-color: $btn-color;
      transition: width 0s;
    }
    &.active{
      &::before{
        width: 100%;
        transition: width 6s;
      }
    }
    &::after{
      z-index: 4;
      width: 100%;
      background-color: rgba(#fff, 0.4);
    }
  }
  &__dot{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    opacity: 0.3;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    transition: all .3s;
    padding: 0;
    margin: 0;
    &:hover{
      opacity: 1;
    }
    &.active{
      opacity: 1;
    }
  }
  &__dots{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  &__arrows{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
  }
  &__arrow{
    background-color: transparent;
    cursor: pointer;
    border: none;
    &:hover .top-slider__arrow-img path{
      fill: $btn-color;
    }
  }
  &__arrow-img path{
    transition: all .3s;
  }
}


.directions{
  padding: 100px 0 140px 0;
  &__items{
    display: flex;
    justify-content: space-around;
    border-right: 1px solid rgba($main-color, 0.2);
    border-left: 1px solid rgba($main-color, 0.2);
    counter-reset: work;
  }
  &__item{
    &:not(:first-child){
      padding-left: 30px;
      border-left: 1px solid rgba($main-color, 0.2);
      &::before{
        left: 30px;
      }
    }
    position: relative;
    padding-top: 84px;
    &::before {
      position: absolute;
      counter-increment: work;
      content: "0" counter(work);
      color: rgba($main-color, 0.5);
    }
  }
  &__title{
    margin-bottom: 80px;
  }
  &__item-title{
    color: $main-bg-color;
    margin-bottom: 30px;
  }
  &__img{
    max-width: 333px;
    object-fit: cover;
    height: 320px;
    &--1{
      max-width: 354px;
    }
  }
  &__num{
    margin-bottom: 60px;
    color: rgba($main-color, 0.5);
  }
}
.provide{
  margin-bottom: 100px;
  padding: 100px 0;
  background-color: $main-bg-color;
  &__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px 10px;
  }
  &__inner{
    text-align: center;
  }
  &__text{
    max-width: 280px;
    margin: 0 auto;
    color: rgba(#FFF, 0.5);
  }
  &__img{
    margin: 0 auto 30px;
    display: block;
    width: 66px;
    height: 66px;
    object-fit: contain;
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
  }
  &__title{
    grid-column: span 3;
    color: #FFFFFF;
  }
}
.about{
  padding: 0 0 140px;
  position: relative;
  &__video-inner{
    max-width: 1400px;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__video{
    height: 200px;
    object-fit: cover;
    display: block;
    &--2{
      margin-top: 143px;
    }
  }
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba($main-color, 0.2);
    padding-top: 40px;
  }
  &__title{
    color: $main-color;
    margin-bottom: 80px;
    max-width: 815px;
    text-align: center;
  }
  &__items{
    max-width: 926px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    border-top: 1px solid rgba($main-color, 0.2);
    position: relative;
    &::after{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      height: 100%;
      width: 1px;
      background-color: rgba($main-color, 0.2);
      top: 0;
    }
  }
  &__item{
    max-width: 403px;
    width: 100%;
    padding-left: 33px;
    color: rgba($main-color, 0.8);
    position: relative;
    &::after{
      position: absolute;
      left: 0;
      top: 5px;
      content: '';
      width: 18px;
      height: 18px;
      border: 1px solid $btn-color;
      border-radius: 50%;
    }
    &::before{
      position: absolute;
      left: 6px;
      top: 11px;
      content: '';
      width: 6px;
      height: 6px;
      background-color: $btn-color;
      border-radius: 50%;
    }
  }
}
.discuss{
  min-height: 710px;
  &__img-box{
    max-height: 720px;
  }
}
.stages{
  color: $main-color;
  padding: 140px 0;
  &__inner{
    padding-bottom: 100px;
    border-bottom: 1px solid rgba($main-color, 0.2);
  }
  &__title{
    margin-bottom: 80px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    counter-reset: listNumber;
  }
  &__item{
    width: 240px;
    position: relative;
    padding-top: 95px;
    &::before{
      counter-increment: listNumber;
      content: "0" counter(listNumber);
      width: 60px;
      height: 60px;
      color: $main-bg-color;
      border: 1px solid rgba($main-color, 0.3);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__list-title{
    margin-bottom: 15px;
  }
}
.present{
  background-color: $gray;
  &-container{
    max-width: 1120px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    align-items: center;
    max-width: 930px;
    margin: 0 auto;
    position: relative;
    &::after, &::before{
      content: '';
      position: absolute;
      top: 0;
      left: -80px;
      height: 100%;
      width: 482px;
      border-left: 1px solid rgba($main-color, 0.1);
      border-radius: 50% 0 0 50%;
      //border-right-color: transparent;
    }
    &::after{
      left: auto;
      right: -80px;
      border-left: none;
      border-right: 1px solid rgba($main-color, 0.15);
      border-radius: 0 50% 50% 0;
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &--center{
      max-width: 362px;
      text-align: center;
    }
  }
  &__title{
    margin-bottom: 23px;
  }
  &__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: rgba($main-color, 0.8);
    margin-bottom: 40px;
  }
  &__btn{
    padding: 22px 67px;
  }
  &__item-text{
    color: $main-bg-color;
    position: relative;
    padding-left: 28px;
    display: inline-block;
    &::after{
      position: absolute;
      width: 18px;
      height: 18px;
      content: '';
      top: 0;
      left: 0;
      background-image: url('../images/present-svg.svg');
    }
  }
  &__img{
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 135px;
    display: inline-block;
    margin-bottom: 20px;
  }
}
.partners{
  background-color: #fff;
  padding: 140px 0;
  &__title{
    margin-bottom: 60px;
  }
}
.partners-slider{
  overflow-x: hidden;
  position: relative;
  &__content{
    display: flex;
    align-items: flex-start;
    position: absolute;
  }
  &__content-inner{
    overflow-x: hidden;
    position: relative;
    min-height: 90px;
    margin-bottom: 40px;
  }
  &__wrapper{
    position: absolute;
    min-height: 90px;
  }
  &__item-img{
    height: 48px;
    object-fit: contain;
    pointer-events: none;
  }
  &__item{
    width: 285px;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($main-color, 0.4);
    margin-right: 20px;
    filter: grayscale(1);
    opacity: 0.5;
    transition: filter .5s, opacity .5s;
    &:hover{
      filter: grayscale(0);
      opacity: 1;
      border: 1px solid rgba($main-color, 0.2);
    }
  }
  &__arrow{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid $main-bg-color;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    transition: all .5s;
    &--right{
      transform: rotate(180deg);
    }
    path{
      transition: all .5s;
    }
    &:hover{
      border-color: $btn-color;
      path{
        fill: $btn-color;
      }
    }
  }
  &__arrows{
    display: flex;
    justify-content: space-between;
    width: 130px;
    height: 56px;
    margin: 0 auto;
  }
}
.questions{
  min-height: 660px;
  &__img-box{
    max-height: 663px;
  }
  &__input--2{
    margin-bottom: 40px;
  }
}
.footer{
  padding: 105px 0 40px 0;
  color: $main-color;
  &__top{
    padding-bottom: 100px;
    border-bottom: 1px solid rgba($main-color, 0.2);
  }
  &__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__logo-link{
    margin-bottom: 27px;
    display: inline-block;
  }
  &__social{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social-list{
    display: flex;
  }
  &__social-item:not(:last-child) {
    margin-right: 7px;
  }
  &__social-text{
    margin-right: 11px;
  }
  &__phone{
    margin-bottom: 31px;
  }
  &__btn{
    padding: 22px 47px;
  }
  &__top-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__menu-list{
    align-self: stretch;
    column-count: 2;
    column-gap: 80px;
  }
  &__menu-list__item{
    margin-bottom: 30px;
    &:nth-child(3n){
      margin-bottom: 0;
    }
  }
  &__list-link{
    color: $main-color;
    transition: all .3s;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    cursor: pointer;
    &:hover{
      color: $btn-color;
    }
  }
  &__list-btn{
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
  }
  &__partners{
    padding: 40px 0;
    border-bottom: 1px solid rgba($main-color, 0.2);
    margin-bottom: 20px;
  }
  &-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: rgba($main-color, 0.5);
  }
}
.footer-partners{
  &__title{
    margin-bottom: 38px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item-img{
    height: 30px;
    filter: grayscale(1);
    opacity: 0.5;
    transition: all .5s;
    &:hover{
      filter: grayscale(0);
      opacity: 1;
    }
  }
}
.modal{
  opacity: 0;
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translate(-500%, 0);
  transition: all 0.5s;
  align-items: center;
  display: flex;
  justify-content: center;
  &__bg{
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  &.active{
    transform: translate(0, 0);
    opacity: 1;
  }
  &__inner{
    background-color: $main-bg-color;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    //position: fixed;
    //left: 50%;
    //top: 50%;
    padding: 60px 55px 64px 55px;
    max-width: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &.thanked{
      padding-top: 163px;
      padding-bottom: 163px;
    }
  }
  &__title{
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 25px;
  }
  &__form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    &.close{
      display: none;
    }
  }
  &__input{
    width: 300px;
    display: inline-block;
    margin: 0 auto 25px auto;
  }
  &__btn{
    width: 300px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  &__textarea{
    display: none;
    resize: none;
    margin-bottom: 20px;
    height: 83px;
    &.active{
      display: block;
    }
  }
  &__checkbox-label{
    width: 300px;
    padding-left: 25px;
    margin: 0 auto;
  }
  &__checkbox-span{
    width: 15px;
    height: 15px;
    margin-left: -25px;
  }
  &__checkbox{
    &:checked + .modal__checkbox-span::before{
      width: 5px;
      height: 5px;
    }
  }
}
.btn__modal--close{
  background-color: transparent;
  position: absolute;
  top: 0;
  color: transparent;
  right: -45px;
  cursor: pointer;
  border: none;
  padding: 6px;
  width: 36px;
  height: 36px;
  opacity: 0.5;
  transition: all 0.5s;
  animation-timing-function: linear;
  z-index: 5;
  &:hover{
    opacity: 1;
    transform: rotate(180deg) scale(0.75);
  }
  span{
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: rotate(45deg);
    &:last-child{
      transform: rotate(-45deg);
    }
  }
  &.thanked{
    position: static;
    width: 300px;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: $btn-color;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    height: 60px;
    opacity: 1;
    span{
      width: 0;
    }
    &:hover{
      transform: none;
    }
  }
}
.benefits{
  padding-bottom: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  color: $main-color;
  &__title{
    margin-bottom: 20px;
  }
  &__anim{
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 60px;
    padding-bottom: 40px;
    counter-reset: benefits;
  }
  &__item-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    max-width: 520px;
    transition: all .3s;
  }
  &__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: rgba($main-color, 0.8);
    max-width: 520px;
  }
  &__item-inner{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba($main-color, 0.2);
  }
  &__item-content{
    flex-basis: 50%;
    padding-left: 40px;
    padding-bottom: 50px;
    border-left: 1px solid rgba($main-color, 0.2);
  }
  &__img{
    position: absolute;
    height: 0;
    z-index: -1;
    display: inline-block;
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
    //transition: height .3s;
    width: 340px;
    &.active{
      height: 240px;
    }
  }
  &__item{
    padding-top: 50px;
    &::before {
      position: absolute;
      counter-increment: benefits;
      content: "0" counter(benefits);
      max-width: 1240px;
      padding: 50px 20px 0;
      margin: 0 auto;
      width: 100%;
      left: 0;
      right: 0;
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      color: rgba($main-color, 0.3);
      transition: all .3s;
    }
    &.active{
      color: $btn-color;
      &::before{
        color: $btn-color;
      }
    }
  }
}

.in-work{
  padding-bottom: 140px;
  &__title{
    margin-bottom: 50px;
  }
}
.in-work-slider{
  overflow-x: hidden;
  position: relative;
  &__content{
    display: flex;
    align-items: flex-start;
    position: absolute;
  }
  &__content-inner{
    overflow-x: hidden;
    position: relative;
    min-height: 435px;
  }
  &__wrapper{
    position: absolute;
    min-height: 435px;
  }
  &__item-img{
    height: 48px;
    object-fit: contain;
    pointer-events: none;
  }
  &__item{
    width: 640px;
    padding: 0 20px;
    display: flex;
    height: 435px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 600px;
      height: 340px;
      top:0;
      left: 20px;
      background: rgba(61, 74, 57, 0.7);
      transition: all .2s;
    }
    &.active{
      &::before{
        background: rgba(61, 74, 57, 0);
        transition: all .3s;
      }
      .in-work-slider__item-content{
        opacity: 1;
      }
    }
    .in-work-slider__item-content{
      transition: all .3s;
      opacity: 0;
    }
  }
  &__img{
    display: inline-block;
    width: 600px;
    height: 340px;
    margin-bottom: 30px;
    pointer-events: none;
  }
  &__title{
    margin-bottom: 10px;
    color: $main-color;
  }
  &__text{
    color: rgba($main-color, 0.5);
  }
  &__arrow{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;
    path{
      transition: all .5s;
    }
    &:hover{
      background-color: $btn-color;
      path{
        fill: #FFFFFF;
      }
    }
  }
  &__btn-box{
    top: 0;
    height: 0;
    position: absolute;
    max-width: 840px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &__arrows{
    height: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    top: 147px;
    left: 0;
    right: 0;
  }
  &__dots{
    display: none;
  }
}



@import "media";