@import "vars";
@import "libs";
@import "fonts";
@import "normalize";
@import "global";



.header{
  padding: 20px 0;
  color: $main-color;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social-list{
    margin-right: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-list{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    align-items: center;
  }
  &__menu-list__item{
    &:not(:last-child){
      margin-right: 40px;
    }
  }
  &__menu-list__link{
    transition: all .3s;
    &:hover{
      color: $btn-color;
    }
  }
  &__logo{
    width: 122px;
    height: 53px;
  }
  &__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__social-item{
    &:not(:last-child){
      margin-right: 10px;
    }
  }
  &__social-img{
    width: 24px;
    height: 24px;
  }
  &__social-link{
    width: 24px;
    height: 24px;
    &:hover path{
      fill: $main-color;
    }
  }
  &__social-image__path{
    transition: all .3s;
    fill: $btn-color;
  }
  &__phone{
    display: block;
    padding-left: 29px;
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        background-image: url('../images/phone-icon.svg');
    }
    &::after{
      content: '';
      height: 2px;
      position: absolute;
      bottom: -5px;
      left: 29px;
      width: 0;
      background-color: $main-color;
      transition: all .5s;
    }
    &:hover{
      &::after{
        width: calc(100% - 29px);
      }
    }
  }
}
.top-slider{
  overflow-x: hidden;
  position: relative;
  &__content{
    display: flex;
    align-items: flex-start;
    position: absolute;
  }
  &__content-inner{
    overflow-x: hidden;
    position: relative;
    min-height: 687px;
  }
  &__wrapper{
    position: absolute;
    min-height: 687px;
  }
  &__item{
    padding-top: 120px;
    min-height: 687px;
    width: 100vw;
    flex-shrink: 0;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0;
  }
  &__title{
    font-family: 'Lato', sans-serif;
    max-width: 860px;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 50px;
    max-width: 639px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    line-height: 150%;
    &--3{
      max-width: 537px;
    }
    &--2{
      max-width: 476px;
    }
  }
  &__inner{
    text-align: center;
  }
  &__btn{
    padding-right: 52px;
    padding-left: 52px;
  }
  &__btn-box{
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 57px;
    &::after,
    &::before{
      content: '';
      max-width: 1200px;
      left: 20px;
      height: 1px;
      position: absolute;
      top: 0;
    }
    &::before{
      width: 0;
      z-index: 5;
      background-color: rgba($btn-color, 0.8);
      transition: width 0s;
    }
    &.active{
      &::before{
        width: 100%;
        transition: width 6s;
      }
    }
    &::after{
      z-index: 4;
      width: 100%;
      background-color: rgba(#fff, 0.4);
    }
  }
  &__dot{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    opacity: 0.3;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    transition: all .3s;
    padding: 0;
    margin: 0;
    &:hover{
      opacity: 1;
    }
    &.active{
      opacity: 1;
    }
  }
  &__dots{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  &__arrows{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
  }
  &__arrow{
    background-color: transparent;
    cursor: pointer;
    border: none;
    &:hover .top-slider__arrow-img path{
      fill: $btn-color;
    }
  }
  &__arrow-img path{
    transition: all .3s;
  }
}

@import "media";